<link href="./css/home.css" rel="stylesheet">

<section class="hero flex-center">
    <div class="hero-div_info flex-center">
        <h1>I'm José</h1>
        <div class="image">
            <img src="./img/me.webp" alt="Me">
        </div>
        <div class="hero_span-container"><span>Hi there, I hope you are well.
            I’m a developer since 2022. </span></div>
        <p>I enjoy this degree besides I am trying to improve everyday since Guanacaste Costa Rica. I have experience in BackEnd and FrontEnd, I have worked in personal projects moreover, when I was in the university (UCR), I worked with guidance office for a project. </p>
    </div>
</section>