<link href="./css/home.css" rel="stylesheet">


<section class="hero flex-center">
    <div id="overlay"></div>
        <div class="hero-div_info flex-center max_resolution">
            <h1>I'm José</h1>
            <div class="image">
                <img src="./img/me2.webp" alt="Me"  width = "500" height = "500">
            </div>
            <div class="hero_span-container"><span>Hi there, I hope you are well.
                I’m a developer since 2022. </span></div>
            <p>I enjoy this degree besides I am trying to improve everyday since Guanacaste Costa Rica.
                
             I have experience in BackEnd and FrontEnd, I have worked in personal projects moreover, when I was in the university (UCR), I worked with guidance office for a project. </p>
        </div>
    <svg class="home_wave-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,128L80,144C160,160,320,192,480,197.3C640,203,800,181,960,192C1120,203,1280,245,1360,266.7L1440,288L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
</section>
<section class="home-about_me">
    <div class="home-about_me_container">
        <h2>A little about me</h2>
        <h3>Along the years</h3>
        <div class="home-about_me_history_container flex">
            <div class="history_container_lines"></div>
            <div class="history_container_hidden-lines"></div>

            <div id="history" class="home-about_me_history_container_items max_resolution">

                <div class="history_container_item left">
                    <label for="">2011 to 2017</label>
                    <p>I studied in secondary, Always, I’ve loved the nature, for that reason, when I was in the secondary, my speciality was agriculture.</p>
                </div>

                <div class="history_container_item right">
                    <label for="">2017</label>
                    <p>I performed my final job of the secondary in the Earth University in Costa Rica. I was there as a practicing of agriculture. I enjoyed those moment, and I am completely grateful with them for the opportunity.</p>
                </div>

                <div class="history_container_item left">
                    <label for="">2018 to 2022</label>
                    <p>I studied business computing in the university of Costa Rica (UCR), There, I learned about developed, design, backend, frontend, networks, database and a little of business administration and management. I enjoyed each moment there, it was a wonderful experience.</p>
                </div>

                <div class="history_container_item right">
                    <label for="">2021</label>
                    <p>That year, I worked with Decimo inc as practicing, there, I learned a lot of about frontend (CSS, HTML and JS) and work as a team. I was with them only for 4 month and enjoyed a lot of being there with them.</p>
                </div>

                <div class="history_container_item left">
                    <label for="">2022</label>
                    <p>I did my final work of the university in my same university. I had doing a software for the orientation department, which was a success.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="more_about_me max_resolution">
        
        <h3>I will talk you more about me</h3>
        <div class="more_about_me_container_p">
            <p>So, when I’m outside of my home, I like doing a lot of thing, I love swim in the ocean, besides, I love to taste new place for eating. However, always I have had loving with the cameras, therefore, I usually go out for taking photos. 
                I love spending time with my family and friend, maybe doing a BBQ, looking the stars in the sky.</p>
        </div>
    </div>
    <div class="wave_history">
        <div class="wave_history_false_background"></div>
        <img class="home_wave-container" src="./img/svg/wave.svg" alt="wave">
    </div>
</section>

<section id="technologies">
    <div class="technologies_container max_resolution">
        <h2>I’ve worked with</h2>
        <h3>This technologies</h3>
        <div class="technologie_items flex ">

            <div class="technologie_item_container_main flex left">
                <div class="item">
                    <h4>FrontEnd</h4>
                    <div class="technologie_items_container_technologies flex">
                        <div class="flex-center"><span>HTML</span></div>
                        <div class="flex-center"><span>CSS</span></div>
                        <div class="flex-center"><span>JS</span></div>
                    </div>
                </div>
            </div>
            <div class="technologie_item_container_main flex right">
                <div class="item">
                    <h4>BackEnd</h4>
                    <div class="technologie_items_container_technologies flex">
                        <div class="flex-center"><span>PHP</span></div>
                        <div class="flex-center"><span>C#</span></div>
                        <div class="flex-center"><span>JAVA</span></div>
                    </div>
                 </div>
            </div>
            <div class="technologie_item_container_main flex left">
                <div class="item">
                    <h4>Framework</h4>
                    <div class="technologie_items_container_technologies flex">
                        <div class="flex-center"><span>Laravel</span></div>
                        <div class="flex-center"><span>.NET</span></div>
                        <div class="flex-center"><span>WordPress</span></div>
                    </div>
                </div>
            </div>
            <div class="technologie_item_container_main flex right">
                <div class="item">
                    <h4>Database</h4>
                    <div class="technologie_items_container_technologies flex">
                        <div class="flex-center"><span>SQL Server</span></div>
                        <div class="flex-center"><span>MySQL</span></div>
                        <div class="flex-center"><span>PostgreSQL</span></div>
                    </div>
                </div>
            </div>
            <div class="technologie_item_container_main flex left">
                <div class="item">
                    <h4>Design</h4>
                    <div class="technologie_items_container_technologies flex">
                        <div class="flex-center"><span>XD</span></div>
                        <div class="flex-center"><span>Figma</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

<section id="photography">
    <div class="photography_container max_resolution">
        <h2>Photography </h2>
        <h3>Some photos</h3>
        
    </div>    
</section>



