<link href="./css/works.css" rel="stylesheet">

<section class="max_resolution" id="works_section">
    <h2>Experience</h2>
    <h3>Some Proyect</h3>

    <div class="container_table">
        <table >
           <tbody id="table_works">
            <tr class="head">
                <th class="column_one">Year</th>
                <th class="column_two">Project</th>
                <th class="column_three">Tools</th>
                <th class="column_four">Link</th>
              </tr>
           </tbody>
        </table>
    </div>
</section>

<script src="./js/works.js"></script>